<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id"
        content="88955055541-uurlg24t126ibh2ni0jjdq53k1gromt1.apps.googleusercontent.com">
    <title>Mini WP</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_editor.min.css' rel='stylesheet'
        type='text/css' />
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_style.min.css' rel='stylesheet'
        type='text/css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/js/froala_editor.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script src="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.8.0/dist/voerro-vue-tagsinput.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.11.2/dist/style.css">

    <link rel="stylesheet" href="/vueWysiwyg.css">

    <script type='text/javascript'
        src='//platform-api.sharethis.com/js/sharethis.js#property=5cafc41b8c73c200120fe878&product=inline-share-buttons'></script>

    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>

    <div id="app">
        <nav-bar :logged-in="isLoggedIn" @log-out="logoutUser" @show-home="showHome" @show-form="showForm"
            @my-articles="getMyArticles"></nav-bar>
        <div class="container">
            <login-form :position="position" @login-user="loginUser" @register-user="registerUser"
                v-if="isLoggedIn===false"></login-form>
            <add-article @add-new-article="addArticle" :all-tags="existTags"></add-article>
            <update-article :one-article="article" :all-tags="existTags" @update-article="updateArticle">
            </update-article>
            <div v-if="position==='home'">
                <!-- <div :key="item._id"> -->
                <div class="container">
                    <div v-if="articles.length > 0">
                        <div v-for="(item, index) in articles" :key="index">
                            <all-articles :one-article="item" :index-article="index" :current-user="user"
                                @delete-one="deleteArticle" @get-one="getOneArticle" @one-tag="getOneTag">
                            </all-articles>
                            <!-- <update-article></update-article> -->
                        </div>
                    </div>
                    <div v-else class="well text-center">
                        <div class="panel panel-default">
                            <span>NOT FOUND</span>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cb37f22ec4f3cf9"></script>

    <script src="/vueWysiwyg.js"></script>
    <script src="./js/components/Navbar.js"></script>
    <script src="./js/components/LoginForm.js"></script>
    <script src="./js/components/FormArticle.js"></script>
    <script src="./js/components/AllArticles.js"></script>
    <script src="./js/components/FormUpdate.js"></script>
    <script src="./js/main.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton"></script>
</body>

</html>